* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    /* BACKGROUND & FONT COLOR */
    --primary-color: #6F00FF; 
    --secondary-color: #F7F7F7;
    --black-color-first: #2C2C2F;
    --black-color-second: #060609;
    --black-color-third: #C7C7C733;
    --grey-color: #9E9E9E;
    --dark-grey: #777;
    --light-grey: #E0E0E0;
    --white-color: #FFF;
    --alice-blue: #F0F5FF;
    --honeydew-section: #ECFCF4;
    
    /* FONT FAMILY */
    --font-family: "Inter Tight", sans-serif;
    
    /* FONT SIZES */
    --font-size-64px: 4rem;
    --font-size-57px: 3.563rem;
    --font-size-45px: 2.813rem;
    --font-size-38px: 2.375rem;
    --font-size-28px: 1.75rem;
    --font-size-25px: 1.563rem;
    --font-size-24px: 1.5rem;
    --font-size-23px: 1.438rem;
    --font-size-22px: 1.375rem;
    --font-size-19px: 1.188rem;
    --font-size-18px: 1.125rem;
    --font-size-16px: 1rem;

}

/* UTILITIES SECTION */
body {
  font-family: var(--font-family);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.hero-right img {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}

.socials a img {
    width: 19px;
    margin-left: 1rem;
    display: inline-block;
}

.logo a img {
    width: 130px;
    display: inline-block;
}

.service-card .service-count img {
    width: 60px;
    height: auto;   /* TEMPORARY FIX */
}

/* BUTTON UTILITY */
.btn {
  display: inline-block;
  position: relative;
  padding: 16px 30px;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: var(--white-color); 
  font-weight: 600;
  font-size: 1.1rem;
  transition: .3s ease;
}

.btn::after {
   content: '';
   position: absolute;
   inset: 0;
   background: url(assets/arrow-right.svg) no-repeat center;
   opacity: 0;
   transition: opacity .5s ease;
   pointer-events: none;
}

.btn:hover {
    color: transparent;
}

.btn:hover::after {
    opacity: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER SECTION */

.head-section {
    width: 100%;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 10;
}

.nav-section {
    padding: .5rem;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hamburger-menu .hamburger {
    display: block;
    width: 45px;
    height: 2px;
    margin-top: 8px;
    background-color: var(--black-color-second);
}

/* HERO SECTION */

.hero-section {
    position: relative;
    padding: 11rem 5% 7rem;
    background-color: var(--white-color);
}

.hero-section .animation-arrow {
   text-align: center;
   margin-top: 3rem;
}

.hero-section .animation-arrow img {
    display: inline-block;
    position: relative;
    width: 1.8rem;
    height: auto;
}

.hero-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.hero-left {
    flex: 1 1 480px;
}

.hero-left h1 {
    font-size: var(--font-size-64px);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.hero-left p {
    font-size: var(--font-size-28px);
    font-weight: 600;
    max-width: 30ch;
    margin-bottom: 1.5rem;
}

.hero-left h1 .focus-word {
    position: relative;
    display: inline-block;
}

.hero-left h1 .focus-word::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 12px;
   background: url(assets/fav_scribbble.svg) no-repeat left bottom;
   background-size: contain;
   pointer-events: none;
}

.hero-right {
    flex: 1 1 480px;
}

.hero-right img {
    width: 100%;
}

/* SERVICE SECTION */

.service-section {
    background-color: var(--white-color);
    padding: 1rem 6% 7rem;
}

.service-content .service-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 60px;
    align-items: stretch;
}

.service-flex .service-card {
    flex: 1;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;  /* FIX FOR CARD BUTTON ALIGNMENT */
    min-height: 200px; 
}

.service-card .service-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;   /* Test for temp changes */
}

.service-card .service-text .service-btn {
    position: relative;
    margin-top: auto; /* Push button to bottom */ /* FIX FOR CARD BUTTON ALIGNMENT */
    display: inline-block;
    align-items: flex-start;
}

.service-flex .service-card .service-btn::before {
    content: "";
    width: .9rem;
    height: 1.5px;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--black-color-second);
    transition: .3s ease;
}

.service-card .service-text .service-btn:hover::before {
    width: 100%;
}

.service-section .service-content h2 {
    font-size: var(--font-size-38px);
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.service-section .service-count {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: -1rem;
}

.service-section .service-count img {
    display: inline-block;
}

.service-card .numbers {
    border: 2px solid var(--light-grey);
    border-radius: 3rem;
    font-weight: 500;
    padding: .7rem;
    color: var(--grey-color);
    margin-bottom: 4rem;
}

.service-flex .service-card h3 {
    font-size: var(--font-size-22px);
    margin-bottom: 1rem;
}

.service-flex .service-card p {
    font-size: var(--font-size-18px);
    font-weight: 500;
    margin-bottom: 1rem;
}

.service-flex .service-card a {
    display: inline-block;
    font-size: var(--font-size-16px);
    color: var(--black-color-second);
    font-weight: 600;
}

.service-card .service-btn img {
    display: inline-block;
    margin-left: .2rem;
    width: 10px;
    transition: transform 0.25s ease;
}

.service-card .service-btn:hover img {
  transform: translate(8px);
  position: relative;
}

/* FEATURE SECTION */

.feature-section {
    background-color: var(--white-color);
    padding: 1rem 5% 7rem;
}

.feature-section .feature-content {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 5rem;
}

.feature-content .contents {
    flex: 1 1 480px;
}

.feature-content .feature-image {
    flex: 1 1 480px;
}

.feature-content .feature-image img {
    width: 100%;
}

.feature-content .content-top {
    margin-bottom: 2rem;
}

.contents .content-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.content-bottom .ctb {
    flex: 1 1 200px;
}

.feature-content .content-top h3 {
    font-size: var(--font-size-45px);
    color: var(--black-color-second);
    margin-bottom: 1rem;
}
.feature-content .content-top h4 {
    font-size: var(--font-size-25px);
    color: var(--black-color-second);
}

.feature-content .content-top p {
    font-size: var(--font-size-18px);
    font-weight: 600;
    color: var(--dark-grey);
    margin-bottom: .8rem;
}

.content-bottom .ctb h4 {
   font-size: var(--font-size-22px);
   margin-bottom: 1rem;
}

.content-bottom .ctb p {
   font-size: var(--font-size-16px);
   font-weight: 500;
   margin-bottom: .8rem;
}

.content-bottom .ctb a {
   font-size: var(--font-size-16px);
   color: var(--black-color-second);
   font-weight: 600;
   margin-bottom: .8rem;
}

.content-bottom .ctbr img,
.content-bottom .ctbl img {
    width: 45px;
    margin-bottom: 1rem;
}

.content-bottom .feature-btn img {
    display: inline-block;
    margin-left: .2rem;
    width: 10px;
    transition: transform 0.25s ease;
}




/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    .hero-section, 
    .feature-section,
    .service-content .service-flex {
        flex-direction: column;
    }

    .hero-section {
        padding-top: 11rem 5% 4rem;
    }
    
    .hero-left  {
        text-align: center;
        order: 2;
    }

    .hero-left p {
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 576px) {

    .socials {
        display: none;
    }

}